[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Alsa Volume
Comment=Change audio volume
Icon=audio-volume-high
X-XFCE-Module=volumealsa
X-XFCE-Internal=true
X-XFCE-Unique=false
X-XFCE-API=2.0
